In [29]:
import pandas as pd
print ('imported successfully')

imported successfully

# load dataset

In [30]:
# load csv file
sales_df =pd .read_csv('monthly_sales_data.csv')
sales_df.head(10)

     Month Region     Product  Units Sold  Unit Price  Revenue
0  2024-01  North  Software A         120          45     5400
1  2024-01  South  Software B          80          60     4800
2  2024-01   East  Software C          50          90     4500
3  2024-02  North  Software A         140          45     6300
4  2024-02  South  Software B          95          60     5700
5  2024-02   East  Software C          60          90     5400
6  2024-03  North  Software A         160          45     7200
7  2024-03  South  Software B         100          60     6000
8  2024-03   East  Software C          75          90     6750
9  2024-04  North  Software A         130          45     5850

In [31]:
#group data set by month
monthly_summary =sales_df.groupby(['Month','Product'])['Revenue'].sum().reset_index()
monthly_summary

      Month     Product  Revenue
0   2024-01  Software A     5400
1   2024-01  Software B     4800
2   2024-01  Software C     4500
3   2024-02  Software A     6300
4   2024-02  Software B     5700
5   2024-02  Software C     5400
6   2024-03  Software A     7200
7   2024-03  Software B     6000
8   2024-03  Software C     6750
9   2024-04  Software A     5850
10  2024-04  Software B     6600
11  2024-04  Software C     7650
12  2024-05  Software A     6750
13  2024-05  Software B     5400
14  2024-05  Software C     8550

# create an excel file for saving monthlyb report with charts

In [32]:
writer= pd.ExcelWriter('monthly_sales_with_chart.xlsx',engine='xlsxwriter')

In [33]:
monthly_summary.to_excel(writer,sheet_name='Revenue',index=False)

# ADDING CHART

In [39]:
workbook = writer.book # create workbook object
worksheet = writer.sheets['Revenue'] # create worksheet object

# create aline chart
chart = workbook.add_chart({'type':'line'})

chart.add_series({
    "name":'Revenue',
    'categories': ['Revenue',1,0,len(monthly_summary),0],
    'values':['Revenue',1,2,len(monthly_summary),2],
})

chart.set_title({'name':'monthly Revenue by product'})
chart.set_x_axis({'name':'Month'})
chart.set_y_axis({'name':'Revenue($)'})

worksheet. insert_chart('E2',chart)
writer.close()

C:\Users\Valued Customer\AppData\Local\Programs\Python\Python313\Lib\site-packages\xlsxwriter\workbook.py:379: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")